.contact-container {
  padding: 90px 20px 20px;
}

.map {
  width: 100%;
}

.social-name {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.contact-text {
  padding: 15px 0 25px;
  color: $white;
}

.contact-element {
  padding-bottom: 10px;
}
