/* SCSS Document */
/* Variable Definitions/Sources */

/* FONTS */


////////////////////
// Font Variables //
////////////////////


/////////////////////
// Color Variables //
/////////////////////

$black: #000000;

$off-black: #222222;

$white: #ffffff;

//greys
$grey: #aaaaaa; //67%

$light-grey: #d8d8d8; //85%

$lighter-grey: #e2e2e2; //89%
