/* Swiper Slider */
.swiper-container {
  width: 100vw;
  height: 100vh;
  z-index: -99;
}

.swiper-pagination-bullet {
  background: black;
}

/* Header Section */
.horizontal-rule {
  float: right;
  padding-right: 20px;
}

.quote {
  width: 100%;
  text-align: right;
  position: absolute;
  padding: 250px 20px;
  top: 0;

  background-color: rgba(0,0,0,0.6);
}

.quote-text {
  text-transform: uppercase;
  width: 350px;
  padding: 0px 50px;
  float: right;
  color: aquamarine;
}

.description {
  text-align: center;
  padding: 40px 0;
}
