/* Swiper Slider */
.swiper-container {
  width: 100vw;
  height: 100vh;
  z-index: -99;
}

.swiper-pagination-bullet {
  background: black;
}

/* Header Section */
.overlay {
  top: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: $shadow;
}

.horizontal-rule {
  float: right;
  padding-right: 20px;
}

.quote {
  width: 100%;
  text-align: right;
  position: absolute;
  padding: 250px 20px 0;
  top: 0;
}

.quote-text {
  text-transform: uppercase;
  font-weight: 500;
  width: 350px;
  padding: 0px 50px 0;
  float: right;
  color: $aqua;
}

.description {
  text-align: center;
  padding: 40px 0;
}

.description-header {
  text-shadow: 5px 5px 5px $dark-shadow;
}
