/* Variables */
// Adjust width accordingly (use even #'s)
$logo-width: 118px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px;
// Leave alone
$logo-margin: - ($logo-width / 2);
/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {

  .logo-wrapper {
    position: relative;

    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;

    ul {
      float: left;
    }
  }

  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;

    ul {
      float: right;
    }
  }
}

.top-bar {
  z-index: 99;
  width: 100%;
  background: transparent;
  position: fixed;
  ul {
    background: transparent;
    a {
      color: $white;
    }
  }
}

.top-bar-right {
  padding-right: 20px;
}

.nav-title {
  text-shadow: 3px 5px 5px $dark-shadow;
}

.nav-link {
  text-shadow: 3px 5px 5px $dark-shadow;
}

// Footer
.footer-container {
  padding: 40px 10px;
  background-color: $light-grey;
}

.links {
  text-align: right;
}

.footer-title {
  font-size: 1em;
  color: $grey;
}

.footer-links {
  font-size: 15px;
  .footer-link-text  {
    color: $grey;
  }
}

.footer-list-left, .footer-list-right {
  display: inline-block;
}
