{{outlet}}
<div class="about-container">
  <div class="small-6 large-6 column">
    <div class="about">
        <div class="about-description">
            <h1 class="about-title">About</h1>
            <p class="about-text">Lemossa Productions is a video productions
            agency founded by Ian Hayes in 2015. Based out of San Luis Obispo
            California, our company is providing high quality video caputuring
            and editing for many local extreme sports advocates and businesses.
            Contact us today for job inquires and questions and see what our
            services can do for your company.</p>
        </div>
    </div>
  </div>
  <div class="small-6 large-6 column">
    <div class="about-image">
        <img class="about-image-source"  src="images/img_0649.jpg">
    </div>
  </div>
</div>
