<!-- Header -->
<nav class="top-bar" id="nav-menu">
  <!-- Left Nav Section -->
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu">
      <li>{{#link-to 'index' class="nav-title"}}<b>Lemossa Productions</b>{{/link-to}}</li>
    </ul>
  </div>
  <!-- Right Nav Section -->
  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu">
      <li>{{#link-to 'about' class="nav-link"}}About{{/link-to}}</li>
      <li>{{#link-to 'contact' class="nav-link"}}Contact{{/link-to}}</li>
      <!-- <li><button class="menu-icon" type="button" data-toggle></button></li> -->
    </ul>
  </div>
</nav>

{{outlet}}

<!-- Footer -->
<footer class="footer-container">
  <div class="row">
    <div class="small-6 large-6 column">
      <div class="footer-description">
          <h1 class="footer-title">Lemossa Productions Video Solutions</h1>
          <p class="footer-text">&copy;Copyright 2016 | LemossaProductions - Ian
          Hayes<br>Made by Taylor Tobin</p>
      </div>
    </div>
    <div class="small-6 large-6 column links">
      <div class="footer-links">
          <ul class="footer-list-left">
              <li class="footer-link"><a class="footer-link-text" href="about.html">About</a></li>
              <li class="footer-link"><a class="footer-link-text"
                  href="contact.html">Contact</a></li>
          </ul>
          <ul class="footer-list-right">
              <li class="footer-link"><a class="footer-link-text"
                  href="http://www.facebook.com/ianhayes">Facebook</a></li>
              <li class="footer-link"><a class="footer-link-text"
      href="http://www.instagram.com/ianhayes">Instagram</a></li>
              <li class="footer-link"><a class="footer-link-text"
                  href="http://www.youtube.com/ianhayes">Youtube</a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>
