<!-- Header -->
<nav class="top-bar" id="nav-menu">
  <!-- Left Nav Section -->
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu">
      <li>{{#link-to 'index' class="nav-title"}}<b>Lemossa Productions</b>{{/link-to}}</li>
    </ul>
  </div>
  <!-- Right Nav Section -->
  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu">
      <li>{{#link-to 'index' class="nav-link"}}About{{/link-to}}</li>
      <li>{{#link-to 'index' class="nav-link"}}Contact{{/link-to}}</li>
      <!-- <li><button class="menu-icon" type="button" data-toggle></button></li> -->
    </ul>
  </div>
</nav>

{{outlet}}
