{{outlet}}
<div class="contact-container">
  <div class="row">
    <div class="small-6 large-6 column">
      <div class="contact">
          <h1 class="contact-title">Contact</h1>
              <p class="contact-text">We will go anywhere and do what we need to
              capture your adventures. Contact us to see where our videos can
              take you!</p>
              <ul class="contact-list">
                  <li class="contact-element">
                      <p class="contact-element-title">Email</p>
                      <p class="contact-element-text">lemossasurf@gmail.com</p>
                  </li>
                  <li class="contact-element">
                      <p class="contact-element-title">Call</p>
                      <p class="contact-element-text">(805) 423-2746</p>
                  </li>
                  <li class="contact-element">
                      <p class="contact-element-title">Address</p>
                      <p class="contact-element-text">Los Osos, California</p>
                  </li>
              </ul>
          <div class="social">
              <ul class="social-list">
                  <li class="social-name">
                      <a class="social-icon"
                          href="http://www.instagram.com/ianhayes"><img
                          class="social-icon-source" src="images/instagram.png"></a>
                  </li>
                  <li class="social-name">
                      <a class="social-icon"
                          href="http://www.facebook.com/ianhayes"><img
                          class="social-icon-source" src="images/facebook.png"></a>
                  </li>
                  <!-- <li class="social-name">
                      <a class="social-icon"
                          href="http://www.twitter.com/ianhayes"><img
                         class="social-icon-source" src="images/twitter.png"></a>
                  </li> -->
                  <li class="social-name">
                      <a class="social-icon" href="http://www.youtube.com/lemossaproductions"><img
                          class="social-icon-source" src="images/YouTube.png"></a>
                  </li>
                  <!-- <li class="social-name">
                      <a class="social-icon" href="http://www.vimeo.com"><img
                         class="social-icon-source" src="images/vimeo.png"></a>
                  </li> -->
              </ul>
          </div>
      </div>
    </div>
    <div class="small-6 large-6 column">
      <div class="map-container">
          <iframe class="map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52086.01245343184!2d-120.87626915995004!3d35.32148893385155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ecddd1e6cadaa3%3A0x22c6fb6ac0862685!2sLos+Osos%2C+Baywood-Los+Osos%2C+CA+93402!5e0!3m2!1sen!2sus!4v1464540445550"
              width="600" height="450" frameborder="0" style="border:0"
              allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
