{{outlet}}
{{#swiper-container pagination=true loop=true autoplay=5000}}
  {{#swiper-slide}}<img src="images/DSC_0018.JPG">{{/swiper-slide}}
  {{#swiper-slide}}<img src="images/DSC_0099.JPG">{{/swiper-slide}}
  {{#swiper-slide}}<img src="images/IMG_0137.JPG">{{/swiper-slide}}
  {{#swiper-slide}}<img src="images/DSC_0018.JPG">{{/swiper-slide}}
  {{#swiper-slide}}<img src="images/IMG_0143.JPG">{{/swiper-slide}}
{{/swiper-container}}

<div class="overlay"></div>

<div class="title"><h1 class="title-text"><hr class="horizontal-rule">Capture your world</h1></div>

<div class="description">
  <h1 class="description-quote">"We do and film everything"</h1>
</div>

<div class="projects">
  <h1 class="projects-header">recent work</h1>
  <div class="projects-container">
    <div class="row">
      <div class="small-6 large-6 column">
        <img class="project-image" src="images/preformulas.jpg">
        <h1 class="project-title">Pre Formulas</h1>
        <p class="project-text">
          In a recent project with Pre Formulas, we released a video debuting their new pre-workout solution for all athletes.
        </p>
        <a class="btn" href="www.preformulas.com">View Project</a>
      </div>
      <div class="small-6 large-6 column">
        <img class="project-image" src="images/drive_805_logo.png">
        <h1 class="project-title">Drive 805 Wine Tours</h1>
        <p class="project-text">
          We worked with Drive 805 wine tours to create a video that showcased the beauty of the Central Coast and great tours Drive 805 has to offer.
        </p>
        <a class="btn" href="www.preformulas.com">View Project</a>
      </div>
    </div>
  </div>
</div>

<div class="lemossa-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/O60-c-K8Qco" frameborder="0" allowfullscreen></iframe>
</div>
