{{outlet}}
{{#swiper-container pagination=true loop=true autoplay=5000}}
  {{#swiper-slide}}<img src="images/DSC_0018.JPG">{{/swiper-slide}}
  {{#swiper-slide}}<img src="images/DSC_0099.JPG">{{/swiper-slide}}
  {{#swiper-slide}}<img src="images/IMG_0137.JPG">{{/swiper-slide}}
  {{#swiper-slide}}<img src="images/DSC_0018.JPG">{{/swiper-slide}}
  {{#swiper-slide}}<img src="images/IMG_0143.JPG">{{/swiper-slide}}
{{/swiper-container}}

<div class="quote"><h1 class="quote-text"><hr class="horizontal-rule">Capture your world</h1></div>

<div class="description">
  <h1 class="description-header">We do and film everything</h1>
</div>
